<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dictionary</title>
  <script src="https://unpkg.com/htmx.org@2.0.2"
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
    crossorigin="anonymous"></script>
</head>

<body onload="onLoad()">
  <form hx-get="/dictionaries" hx-target="#response" hx-swap="innerHTML">
    <input type="text" name="word" id="word-input">
    <button type="submit">Search</button>
  </form>

  <div id="response">
    <h1>{{word}}</h1>
    <div>
      <h2>{{phonetic}}</h2>
      <button disabled id="audio-player">Play audio</button>
    </div>

    @each(meaning in meanings)
    <h3>{{meaning.partOfSpeech}}</h3>
    <h4>Meaning</h4>
    <ul>
      @each(definition in meaning.definitions)
      <li>{{definition.definition}}</li>
      @end
    </ul>

    <p>Synonyms</p>
    <p>
      @let(synonyms = getSynonymsFromDefinitions(meaning.definitions))
      {{synonyms}}
    </p>
    @end
  </div>
</body>

<script>
  function onLoad() {
    const audioSrc = "{{getAudioFromPhonetics(phonetics)}}";
    if (audioSrc === undefined) return;

    manageAudio("{{getAudioFromPhonetics(phonetics)}}");
  }

  document.body.addEventListener("htmx:afterSwap", function (event) {
    if (event.target.id === "response") {
      const audioElement = document.querySelector("audio");
      if (audioElement === null) return;

      manageAudio(audioElement.src);
    }
  });

  /**
  * @param {string} audioSource
  */
  function manageAudio(audioSource) {
    const audio = new Audio(audioSource);
    const audioPlayerButton = document.getElementById("audio-player");

    audio.oncanplay = function (event) {
      audioPlayerButton.disabled = false;
      audioPlayerButton.onclick = function () {
        audio.play();
      }
    }

    audio.onplaying = function (event) {
      audioPlayerButton.innerHTML = "Pause audio";
      audioPlayerButton.onclick = function () {
        audio.pause();
      }
    }

    audio.onpause = function (event) {
      audioPlayerButton.innerHTML = "Play audio";
      audioPlayerButton.onclick = function () {
        audio.play();
      }
    }

    audio.onended = function (event) {
      audioPlayerButton.innerHTML = "Play audio";
      audioPlayerButton.onclick = function () {
        audio.play();
      }
    }
  }

</script>

</html>